h1, h2 {
  /* font-family: 'Segoe Script'; */
  color: grey;
}


h1 {
  border-bottom:1px solid black;
}

p {
  /* font-family: 'Segoe Script'; */
  color: maroon;
}
body{
  font-family: 'Segoe Script';
}